# ==================== Node / VitePress ====================
node_modules/
.pnpm-store/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==================== VitePress 构建产物 ====================
.vitepress/cache/
.vitepress/dist/
.vitepress/.temp/

# ==================== 编辑器 / 系统 ====================
.DS_Store
Thumbs.db
*.bak
*.local
